<div class="page">
  <!-- CONTENIDO -->
  <div class="content">
    <h1 class="welcome">¡Bienvenid@, tómate un descanso!</h1>

    <!-- ACCIONES -->
    <div class="actions-card">
      <button class="btn-crear" (click)="abrirModal()">+ Crear nueva sala</button>
      <div class="unirse-group">
        <input
          type="text"
          placeholder="Introduce el código"
          class="input-codigo"
          [(ngModel)]="codigoSala"
          (keyup.enter)="unirmeASala()"
        />

        <button class="btn-unirse" (click)="unirmeASala()">Unirse a sala</button>
      </div>
    </div>

    <!-- MIS SALAS -->
    <h2 class="section-title">Mis salas</h2>

    <div class="salas-grid">
      <div class="sala-card" *ngFor="let sala of salas">
        <div class="sala-header">
          <span class="sala-nombre">{{ sala.nombre }}</span>

          <div class="sala-actions">
            <button class="icon-btn" title="Abandonar" (click)="confirmarYAbandonar(sala.id)">
              <img src="assets/abandonar.png" alt="Abandonar" class="icono-abandonar" />
            </button>
          </div>
        </div>

        <p class="sala-desc">
          Código: <strong>{{ sala.codSala }}</strong>
        </p>
        <p class="sala-fecha">Creada el: {{ sala.fechaCreacion | date: 'dd/MM/yyyy' }}</p>

        <button class="btn-entrar" [routerLink]="['/sala', sala.id]">Entrar</button>
      </div>
      <div *ngIf="salas.length == 0">
        <h3>No perteneces a ninguna sala</h3>
      </div>
    </div>
  </div>

  <div class="overlay" [class.open]="mostrarModal">
    <div class="modal">
      <button class="close-btn" (click)="cerrarModal()">&times;</button>

      <h2 class="brand">Nueva Sala</h2>
      <p class="subtitle">Crea un espacio para tu grupo</p>

      <div class="field">
        <input
          type="text"
          [(ngModel)]="nuevoNombreSala"
          placeholder="Nombre de la sala"
          (keyup.enter)="confirmarCreacion()"
        />
      </div>

      <button class="btn-main" (click)="confirmarCreacion()" [disabled]="!nuevoNombreSala">
        Confirmar y Crear
      </button>

      <div class="links">
        <a (click)="cerrarModal()">Cancelar</a>
      </div>
    </div>
  </div>
</div>
