<nav class="navbar">
  <div class="navbar-brand inicio" *ngIf="estaLogueado()">
    <img
      src="assets/logo.png"
      alt="Logo Break Room"
      class="navbar-logo"
      [routerLink]="['/inicio']"
    />
  </div>
  <div class="navbar-brand" *ngIf="!estaLogueado()">
    <img src="assets/logo.png" alt="Logo Break Room" class="navbar-logo" />
  </div>

  <div class="navbar-right" *ngIf="estaLogueado()">
    <div class="user-icon">
      <img
        [src]="avatarActual"
        alt="Mi Perfil"
        class="foto-perfil-header"
        (click)="abrirModalAvatar()"
        style="cursor: pointer"
      />
    </div>
    <button class="btn-logout" (click)="cerrarSesion()">
      <img src="assets/cerrarsesion.png" alt="Salir" class="logout-icon" /> salir
    </button>
  </div>
</nav>

<app-perfil *ngIf="mostrarModalAvatar" (cerrar)="mostrarModalAvatar = false"> </app-perfil>
