@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body,
input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFF5E4;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-page);
  color: var(--color-text);
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

app-footer {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* --- ESTILOS SWEETALERT2 --- */
.brutal-swal-popup {
  border-radius: 20px !important;
  border: 3px solid #2b2b2b !important;
  box-shadow: 6px 6px 0px #2b2b2b !important;
  font-family: inherit !important;
}

.swal2-actions {
  gap: 15px;
}

.brutal-swal-button {
  border: 2.5px solid #2b2b2b !important;
  border-radius: 40px !important;
  font-weight: 800 !important;
  font-size: 14px !important;
  padding: 12px 24px !important;
  box-shadow: 4px 4px 0px #2b2b2b !important;
  text-transform: uppercase;
  cursor: pointer !important;
  transition:
    transform 0.1s,
    box-shadow 0.1s !important;
}

.brutal-swal-button:hover {
  transform: translate(2px, 2px) !important;
  box-shadow: 2px 2px 0px #2b2b2b !important;
}

.brutal-btn-danger {
  background-color: #f4aabb !important;
  color: #2b2b2b !important;
}

.brutal-btn-safe {
  background-color: #ffffff !important;
  color: #2b2b2b !important;
}

.swal2-styled:focus {
  box-shadow: 4px 4px 0px #2b2b2b !important;
}

.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  background-color: transparent !important;
}

/* --- ESTILOS PARA LA BARRA DE DESPLAZAMIENTO (SCROLLBAR) --- */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #fff5e4;
  border-left: 3px solid #000000;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #aaeff4, #ffd166);
  border: 3px solid #000000;
  border-radius: 15px;  
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #fff5e4;
  }
}

/* --- MODO CLARO (Por defecto) --- */
:root {
  --bg-page: #FFF5E4;
  --bg-surface: #ffffff; 
  --bg-surface-2: #f4f4f4; 
  --color-text: #2B2B2B;
  --color-shadow: #000000;
  --color-border: #000000;
  --color-accent-1: #F4AABB; 
  --color-accent-2: #7EC8C8; 
  --color-accent-3: #FFD166; 
}

/* --- MODO OSCURO --- */
[data-theme="dark"] {
  --bg-page: #0D0D0D;
  --bg-surface: #1A1A1A;
  --bg-surface-2: #282828;
  --color-text: #FFF5E4;
  --color-shadow: #FFD166; 
  --color-border: #2B2B2B; 
  --color-accent-1: #F4AABB; 
  --color-accent-2: #7EC8C8; 
  --color-accent-3: #FFD166; 
}